@model NBD3.Models.Location

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Location Information -->
            <div class="form-group">
                <label asp-for="LocationName" class="control-label"></label>
                <input asp-for="LocationName" class="form-control" />
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LocationPhone" class="control-label"></label>
                <input asp-for="LocationPhone" class="form-control" />
                <span asp-validation-for="LocationPhone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LocationContactPer" class="control-label"></label>
                <input asp-for="LocationContactPer" class="form-control" />
                <span asp-validation-for="LocationContactPer" class="text-danger"></span>
            </div>

            <!-- Address Information -->
            <div class="form-group">
                <label asp-for="LocationStreetAddress" class="control-label"></label>
                <input asp-for="LocationStreetAddress" class="form-control" />
                <span asp-validation-for="LocationStreetAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LocationPostalCode" class="control-label"></label>
                <input asp-for="LocationPostalCode" class="form-control" />
                <span asp-validation-for="LocationPostalCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LocationCityAddress" class="control-label"></label>
                <input asp-for="LocationCityAddress" class="form-control" />
                <span asp-validation-for="LocationCityAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LocationCountryAddress" class="control-label"></label>
                <input asp-for="LocationCountryAddress" class="form-control" />
                <span asp-validation-for="LocationCountryAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                &nbsp;
                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

