@model NBD3.Models.Labour

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Labour</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LabourID" />
            <div class="form-group">
                <label asp-for="LabourType" class="control-label"></label>
                <input asp-for="LabourType" class="form-control" />
                <span asp-validation-for="LabourType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabourPriceHour" class="control-label"></label>
                <input asp-for="LabourPriceHour" class="form-control" />
                <span asp-validation-for="LabourPriceHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabourCostHour" class="control-label"></label>
                <input asp-for="LabourCostHour" class="form-control" />
                <span asp-validation-for="LabourCostHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary ml-2">Back to List</a>
            </div>
        </form>
    </div>
</div>



