@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/Auth_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-container">
                    <h2>@ViewData["Title"]</h2>
                    <hr />
                    <form id="account" method="post">
                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input asp-for="Input.Email" id="email" type="email" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter your email" required>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="password">Password</label>
                            <input asp-for="Input.Password" id="password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Enter your password" required>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-2 form-check">
                            <input asp-for="Input.RememberMe" type="checkbox" class="form-check-input" id="rememberMe">
                            <label class="form-check-label" for="rememberMe">Remember me</label>
                        </div>
                        <button id="login-submit" type="submit" class="btn btn-primary">Log in</button>
                    </form>
                    <div class="text-center mt-1">
                        <p class="mb-1"><a id="forgot-password" asp-page="./ForgotPassword" class="btn btn-link">Forgot your password?</a></p>
                        <p class="mb-1"><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-link">Register as a new user</a></p>
                        <p class="mb-1"><a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="btn btn-link">Resend email confirmation</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
